/* css styles */

body { font-family: 'Maven Pro'; }

h1, h2, h3 {
        font-family: 'Maven Pro';
        font-weight: normal;
      }

.remark-slide-content h1 { font-size: 3em; }

.remark-slide-content h2 { font-size: 2em; }

.remark-slide-content h3 { font-size: 1.5em; }

.remark-slide-content li { font-size: 1.2em; }

img {
        border-: 2px;
      }
      
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.footnote {
	position: absolute;
	bottom: 3em;
}

.pull-left {
	float: left;
	width: 47%;
}

.pull-right {
	float: right;
	width: 47%;
}

.pull-top {
	float: top;
	text-align: top;
	width: 47%;
}

.pull-bottom {
	float: bottom;
	text-align: bottom;
	clear: all;
	width: 47%;
}

.pull-right ~ p {
	clear: both;
}

/* Two-column layout */
.left-column {
        color: #777;
        width: 25%;
        height: 92%;
        float: left;
      }

.left-column h2:last-of-type, .left-column h3:last-child {
          color: #000;
        }

.right-column {
        width: 70%;
        float: right;
        padding-top: 1em;
      }